out
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# exclude NetBeans private project files
nbproject/private

# exclude build and dist directories
build
dist

# exclude "builded" README.md and backup file
README.html
README.md.backup

# exlude data files
naklady-*.xml
naklady-*.xml.bak
